@font-face { font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBMPlexMono", sans-serif;
  font-size: 16px;
  background-color: #292d34;
  color: #abb2bf;
  max-width: 1200px;
  margin: auto;
  padding: 45px;
}

hr.solid {
  border-top: 1px solid #ebdbb2;
}

a {
  font-family: 'IBMPlexMono', monospace;
  font-size: 16px;
  padding: 4px 8px;
  color: #b8bb26;
  text-decoration: underline;
}
a.link, a.visited, a.hover { color: #b8bb26; }


