---
import Navbar from "../components/Navbar.astro"
import "../styles/global.css"

// 1. Grab all .md files in the specific directory
const posts = await Astro.glob('../pages/posts/*.md');

// 2. Sort them by date (Newest to Oldest)
// This assumes your frontmatter has a 'date' or 'pubDate' field
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
});
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matt Labrecque | Computer Science and Mathematics</title>
</head>
<body>
  <h1>Matt's Blog</h1>
  <Navbar></Navbar>
  <p>The rants and musings of a Mathematician and Computer Scientist from Northern New England.</p>

  <section>
    <h2>Recent Posts</h2>
  <ul>
  {sortedPosts.map((post) => (
    <li>
      <a href={post.url}>{post.frontmatter.title}</a>
    </li>
  ))}
  </ul>
  </section>
</body>
