---
import Navbar from "../components/Navbar.astro"
import "../styles/global.css"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matt Labrecque | Computer Science and Mathematics</title>
</head>
<body>
    <h1 id="name">MATT LABRECQUE</h1>
    <h2 id="subname">Barista, Mathematician, Computer Scientist</h2>

    <div class="profile-text">

    <p>I'm an Applied Mathematics and Computer Science student who is driven by a desire to help make technology that improves our quality of life. My areas of interest are in the fields
      of cryptography, machine learning, low-level programming, and operating systems. When I'm not studying or coding, you can find me experimenting with coffee,
      playing my guitar, writing poetry, or exploring the great outdoors.</p>
    <p>Contact: <span id="copy-email" class="clickable-email">mail [at] mlabrecque (dot) dev</span></p>

    <p>For prospective employers here is my <a href="/documents/Resume-MatthewLabrecque.pdf">resume</a>.</p> 

    <Navbar></Navbar>
    </div>

    <hr class="solid">

    <section id="personal-projects">
    <h2>Projects</h2>
      <div class="project-grid">
        
        <article class="project-card">
          <!--<img src="project1.jpg" alt="Description of project">-->
          <h3>Playcaller</h3>
          <p>Done as part of a research project on the concept of "Disposable Development Environments", Playcaller takes the ideas behind an autoconfiguration 
            script and pushes it to the max. This utility uses Ansible as a backend for creating automation scripts for the configuration and set up of any
            computer running a UNIX-based operating system.</p>
          <div class="tag-container">
            <span class="tag ansible">Ansilble</span>
            <span class="tag python">Python</span>
            <span class="tag postgres">Postgres</span>
            <span class="tag unix">UNIX</span>
          </div>
        </article>
      
        <article class="project-card">
          <!--<img src="project1.jpg" alt="Description of project">-->
          <h3>qSypher</h3>
          <p>qSypher (Quantum Sypher) is an undergraduate research project I'm doing with Martin Burns and Ryad Ouhhabi where we are developing a hashing algorithm
            and cipher for encryption on quantum computer systems. As part of this research project I am writing a memory-safe cryptographic
            tool for quantum encrpytion/decryption.</p>
          <div class="tag-container">
            <span class="tag rust">Rust</span>
            <span class="tag julia">Julia</span>
            <span class="tag cryptography">Cryptography</span>
          </div>
        </article>

        <article class="project-card">
          <!--<img src="project1.jpg" alt="Description of project">-->
          <h3>sypherOS</h3>
          <p>I was inspired by DHH and his Omarchy project to make my own interpretation of a developer friendly, preconfigured Arch Linux spin but instead of using
          a conventional tiling window manager such as Hyprland, it uses the Niri scrolling window manager. I also wanted to provide a much less "37signals" opinionated
          version of Arch for developers with minimum setup.</p>
          <div class="tag-container">
            <span class="tag bash">Bash</span>
            <span class="tag linux">Linux</span>
          </div>
        </article>
      </div>
    </section>
    
    <hr class="solid">

    <h2>Education</h2>
    <ul>
      <li>The University of New Hampshire - Durham, NH (2025-Present)</li>
      <ul>
        <li>B.S. in Applied Mathematics</li>
        <li>Member, Hamel Honors and Scholars College</li>
      </ul>
      <li>Nashua Community College - Nashua, NH (2023-2025)</li>
      <ul>
        <li>A.S. in Computer Science</li>
        <li>Member, Phi Theta Kappa Honor Society</li>
        <li>Graduated Summa Cum Laude</li>
      </ul>
      <li>Windermere Academy - Wilton, NH (2018-2023) </li>
      <ul>
        <li>High School Diploma</li>
        <li>Graduated as Valedictorian of Class of 2021</li>
      </ul>
    </ul>
 
    <hr class="solid">
    
    <h2>Recommended tools</h2>
    <ul>
      <li>My favorite tools to help me study are <a href="https://obsidian.md">Obsidian</a>, <a href="https://www.goodnotes.com/">Goodnotes</a>, and <a href="https://ankiweb.net">Anki</a>.</li>
      <li>If you enjoy using computers or programming, you should be using some form of Linux and my reccomendation is <a href="https://fedoraproject.org">Fedora</a>.</li>
      <li>A tiling window manager is so good for productivity, and my personal favorite is <a href="https://github.com/niri-wm/niri">Niri</a> with <a href="https://github.com/Alexays/Waybar">Waybar</a>.</li>
      <li>I use <a href="https://neovim.io/">neovim (nvim)</a> as my main text editor for programming, with the <a href="https://www.lazyvim.org/">LazyVim</a> plugin.</li>
      <li>The <a href="https://fellowproducts.com/products/stagg-xf-pour-over-set">Fellow Stagg Pour-Over</a> is my absolute favorite way to brew coffee, and it takes virtually no time too!</li>
    </ul>

    <hr class="solid">

    <h2>Awards and Recognitions</h2>
    <ul>
        <li>Eagle Scout</li>
        <li>NHSGC NASA STEM Scholarship Recipient</li>
        <li>Member of University of New Hampshire Hamel Scholars Program</li>
    </ul>


  <script>
    const emailSpan = document.getElementById('copy-email');
    const originalText = emailSpan.textContent;
    emailSpan.addEventListener('click', async () => {
        try {
            await navigator.clipboard.writeText('mail@mlabrecque.dev');
            emailSpan.textContent = 'Copied!';
            setTimeout(() => {
                emailSpan.textContent = originalText;
            }, 1500);
        } catch (err) {
            console.error('Failed to copy:', err);
        }
    });
  </script>
</body>

<style>
  .profile-text {
    flex: 1;
    text-align: center;
    vertical-align: middle;
  }
  
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project-card {
    flex: 0 1 calc(33.333% - 20px);
    padding: 5px;
  }
  
  .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .tag {
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 2px;
    background-color: #3c3836;
  }
  
  .ansible { color: #fbf1c7; border-color: #d5c4a1; } /* Fix color */
  .c { color: #83a598; border-color: #458588; }
  .julia { color: #d3869b; border-color: #b16286; }
  .postgres { color: #b8bb26; border-color: #98971a; }
  .python { color: #fabd2f; border-color: #d79921; }
  .rust { color: #fe8019; border-color: #d65d0e; }
  .unix { color: #ffcc00; border-color: #4d3d00; } /* Needs better color*/
  
  #name {
    text-align: center;
    letter-spacing: 7px;
  }

  #subname {
    text-align: center;
  }
  
  .clickable-email {
    color: #b8bb26;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .clickable-email:hover {
    color: #fabd2f;
  }

a:link { color: #b8bb26; }
a:visited { color: #928374; }
a:hover { color: #fabd2f; }


</style>
