---
import Header from "../components/Header.astro"
import Project from "../components/Project.astro"
import "../styles/global.css"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOP CONSUMING. START CREATING.</title>
</head>
  <body>
    <Header/>

    <h2>Poetry</h2>

    </body>
