---
---
<html>
  <head>
    <script src="https://kit.fontawesome.com/1f927a0858.js" crossorigin="anonymous"></script>
  </head>

  <div class="split-header">
      <a class="link" href=" https://ring.liampas.ca/left">&#8592; Left</a>
      <a class="link" href=" https://ring.liampas.ca/right">Right &#8594;</a>
  </div>

<h1 class="split-header">
  <span id="name">MATT LABRECQUE</span>
  <span id="links">
    <a class="link" href="/">Home</a>
    <a class="link" href="/poetry/">Poetry</a>
    <a class="link" href="/blog/">Blog</a>
    
      <span id="socials">
    <!-- This should be placed in it's own container -->
      <a href="https://www.youtube.com/@mttylbrq" aria-label="YouTube">
      <i class="fa-brands fa-youtube"></i>
      <span class="sr-only">YouTube</span>
    </a>
    <a href="https://www.x.com/matthewlabrecque" aria-label="X">
      <i class="fa-brands fa-x-twitter"></i>
        <span class="sr-only">X</span>
      </a>
    <a href="https://github.com/matthewlabrecque" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
      <span class="sr-only">GitHub</span>
        </a>
    </span>
  </span>
</h1>
</html>

<style>
.split-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}
#name {
    text-align: center;
    letter-spacing: 7px;
  }
#links {
  vertical-align: middle;
}

#socials {
  all: unset;
  display: inline-flex;
  gap: 0.4rem;
}

#socials a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.link {
    color: #88af6c;
    cursor: pointer;
    text-decoration: underline;
  }

.link:hover {
  color: #E5C07B;
}

.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

</style>
