---
const { pathname } = Astro.url;
const isActive = (path) => pathname === path || pathname === path + '/';
---
<html>
<h1 class="split-header">
  <span id="name">MATT LABRECQUE</span>
  <span id="links">
      <a class="link" href="/website/">Home</a>
      <a class="link" href="/website/blog/">Blog</a>
      <a class="link" href="/website/documents/MLabrecque-Resume.pdf">Resume</a>
    <a class="link" href="https://github.com/matthewlabrecque">GitHub</a>
    <a class="link" href="https://x.com/mlabrecque_dev">X</a>
  </span>
</h1>
</html>
<style>
.split-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}
#name {
    text-align: center;
    letter-spacing: 7px;
  }
#links {
  vertical-align: middle;
}

.link {
    color: #b8bb26;
    cursor: pointer;
    text-decoration: underline;
  }

.link:hover {
  color: #fabd2f;
}

</style>
