---
---
<div class="navbar">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="https://github.com/matthewlabrecque">GitHub</a>
  <a href="https://x.com/mlabrecque_dev">X</a>
</div>

<style>
  .navbar {
    padding: 12px;
  }
  a {
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 2px;
    color: white;
    border-color: #689d6a;
    background-color: #8ec07c;
    text-decoration: none;
  }

</style>
