---
// Project.astro
const {tool, description} = Astro.props;
---

<article class="tool-card">
  <h3 class="split">
    <span>{tool}</span>
  </h3>
  <p>{description}</p>
</article>

<style>

</style>
